@font-face {
  font-family: "TT Lakes";
  src: url("/fonts/TTLakes-Bold.woff");
}
@font-face {
  font-family: "TT Lakes-Extra-Demibold";
  src: url("/fonts/TTLakes-DemiBold.woff");
}

/*Обнуляем отступы*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
/*Шапка*/
.header {
  width: 320px;
  display: flex;
  height: 88px;

  margin-left: auto;
  margin-right: auto;
}

.header__menu {
  display: flex;
}

/*Бургер */
.header__burger {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 16px;
  margin-right: 264px;
}
/*линии бургера*/
.header__burger--top-line {
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: white;
  margin-top: 12px;
  margin-bottom: 26px;
  margin-left: 11px;
}
.header__burger--center-line {
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: white;
  margin-top: 19px;
  margin-left: 11px;
}
.header__burger--bottom-line {
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: white;
  margin-top: 26px;
  margin-left: 11px;
}
/*C P S логотип*/
.header__group {
  display: flex;
  position: absolute;
  margin-top: 18.59px;
  margin-left: 72.73px;
  width: 96.55px;
  height: 50.81px;
}
/*Буквы логотипа  C P S*/
.header__group--fill3 {
  margin-top: 24.68px;
  margin-right: 29.76px;
}
.header__group--fill5 {
  position: absolute;
  margin-top: 10.16px;
  margin-left: 11.61px;
}

.header__group--fill6 {
  position: absolute;
  margin-top: 10.16px;
  margin-left: 40.65px;
}
.header__group--fill7 {
  position: absolute;
  margin-top: 10.16px;
  margin-left: 62.43px;
}
.header__group--fill1 {
  position: absolute;
  margin-top: 0;
  margin-right: 0;
  margin-left: 34.84px;
}
/*Делитель*/
.header__divider {
  position: absolute;
  width: 2px;
  height: 32px;
  margin-top: 28px;
  margin-left: 186px;
}
/*фон кнопки с ключём и отвёрткой*/
.header__repair {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: 24px;
  margin-left: 208px;
}

.header__repair--group {
  display: flex;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 10px 10px 10px 10px;
}
.header__repair--tip {
  position: absolute;
  display: flex;
  margin-left: 11px;
}
.header__repair--lever {
  position: absolute;
  display: flex;
  margin-top: 11px;
}
/*Чек статус*/
.header__checkstatus {
  position: absolute;
  margin-top: 24px;
  margin-left: 264px;
}

.header__checkstatus--back {
  position: absolute;
}
.header__checkstatus--icon {
  position: absolute;
  margin-top: 10px;
  margin-left: 12px;
}

/*Нижний неон хедера*/
.header__shadow {
  display: flex;
  margin-top: 87px;
  position: absolute;
}

/*Main*/
.main {
  display: flex;

  width: 320px;
  height: 509px;
  margin-left: auto;
  margin-right: auto;
}
.main__title {
  display: flex;
  margin-top: 24px;
  width: 304px;
  height: 40px;
}

.main__title--text {
  margin: 0;
  margin-left: 16px;
  width: 288px;
  height: 40px;
}
/*кнопки*/

.main__title--text {
  font-size: 28px;
  font-family: "TT Lakes";
}

.main__slidemenu {
  position: absolute;
  width: 250px;
  height: 45px;
  margin-top: 88px;
  margin-left: 16px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
::-webkit-scrollbar {
  height: 5px; /* высота для горизонтального скролла */
}
::-webkit-scrollbar-thumb {
  background-color: #09e0f0;
  border-radius: 6px;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

.main__slidemenu--button1 {
  font-family: "TT Lakes-Extra-Demibold";
  font-size: 16px;
  color: #7e7e82;
  width: 246px;
  height: 40px;
  border: none;
}
.main__slidemenu--button1:hover {
  border-radius: 6px;
  border: 2px solid #b8ffec;
}
.main__slidemenu--button2 {
  font-family: "TT Lakes-Extra-Demibold";
  font-size: 16px;
  color: #7e7e82;
  width: 246px;
  height: 40px;
  border: none;
}

.main__slidemenu--button2:hover {
  border-radius: 6px;
  border: 2px solid #b8ffec;
}

.main__slidemenu--button3 {
  font-family: "TT Lakes-Extra-Demibold";
  font-size: 16px;
  color: #7e7e82;
  width: 246px;
  height: 40px;
  border: none;
}
.main__slidemenu--button3:hover {
  border-radius: 6px;
  border: 2px solid #b8ffec;
}
.main__slidemenu--button4 {
  font-family: "TT Lakes-Extra-Demibold";
  font-size: 16px;
  color: #7e7e82;
  width: 246px;
  height: 40px;
  border: none;
}
.main__slidemenu--button4:hover {
  border-radius: 6px;
  border: 2px solid #b8ffec;
}
.main__slidemenu--button5 {
  font-family: "TT Lakes-Extra-Demibold";
  font-size: 16px;
  color: #7e7e82;
  width: 246px;
  height: 40px;
  border: none;
}
.main__slidemenu--button5:hover {
  border-radius: 6px;
  border: 2px solid #b8ffec;
}
/*main__blockinfo*/
.main__blockinfo {
  position: absolute;
  margin-top: 152px;
  width: 320px;
  height: 322px;
}

.info__text {
  position: absolute;
  width: 288px;
  height: 90px;

  margin-top: 24px;
  margin-left: 16px;
  color: #1b1c21;
  font-size: 14px;
  font-family: "TT Lakes-Extra-Demibold";
}

.read__more {
  position: absolute;
  width: 132px;
  height: 24px;
  background-color: #1b1c21;
  margin-top: 132px;
  margin-left: 16px;
}
.ic__block {
  width: 24px;
  height: 24px;
  background-color: red;
  margin-top: 7px;
  margin-left: 8px;
}
